.button {
  margin-top: 0.25rem;
  color: white;
  background-color: #4f005f;
  padding: 0.3rem 1rem;
  border: 1px solid #4f005f;
  font: inherit;
  font-size: 0.8rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #741188;
  border-color: #741188;
}

.button:focus {
  outline: none;
}
